[user]
	name = vaibhava17
	email = iamvaibhav.agarwal@gmail.com
[alias]
	a = add
	aa = add --all
	b = branch
	bb = branch -a
	bd = branch -d
	cherry-pit = "!f() { git rebase -p --onto \"$1"^ \"$1\";}; f"
	cm = commit -am
	co = checkout
	con = checkout -b
	d = diff
	ec = config --global -e
	go = "!f() { git checkout -b \"$1]" 2> /dev/null || git checkout \"$1"; }; f"
	l = log --relative-date --graph --abbrev-commit -10
	ll = log --relative-date --graph --abbrev-commit
	p = push
	pl = pull
	remotes = remote -v
	s = status
	sd = d --cached
	sh = show
	f = fetch
[init]
	defaultBranch = dev
